
.editable-file {
  border: 2px solid #90caf9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #e3f2fd;
  transition: background-color 0.3s, border 0.3s;
}

.editable-file.active {
  background-color: #bbdefb;
  border-color: #42a5f5;
}
