
.keyboard {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  background-color: #e3f2fd;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.keyboard-section {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.keyboard {
  min-height: 260px; /* קובע גובה יציב */
  transition: all 0.3s ease-in-out;
}

