.save-sidebar {
  width: 200px;
  background-color: #f2f2f2;
  border-right: 2px solid #ccc;
  padding: 15px;
  height: 100vh; /* כל גובה המסך */
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.save-sidebar h3 {
  margin-bottom: 12px;
  font-size: 18px;
}

.save-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.save-sidebar li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.save-sidebar li:hover {
  background-color: #e0f7fa;
}
